name: Auto Assign

on:
  pull_request_target:
    types:
      - opened
      - ready_for_review

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      contents: read
    steps:
      - name: Auto Assign
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: .github/auto_assign.yaml
          repo-token: "${{ secrets.GITHUB_TOKEN }}"