name: "Generate Scopes"

on:
    push:
        paths:
            - "src/**"
    workflow_dispatch:

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
    generate-scopes:
        name: Generate Conventional Commit Scopes
        runs-on: ubuntu-latest
        permissions:
            contents: write
        if: ${{ github.actor != 'github-actions[bot]' }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  persist-credentials: true
                  fetch-depth: 0

            - uses: pnpm/action-setup@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "22.x"
                  cache: "pnpm"

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Run scope generator
              run: node ./scripts/generateConventionalCommitsScopes.js
