name: "MGP daily"

on:
  schedule:
    - cron: "35 16 * * *" # 00:35 CST
    - cron: "00 20 * * *" # 04:00 CST
  workflow_dispatch:
    inputs:
      task:
        description: "选择任务"
        type: choice
        required: true
        options:
          - deleteRedirect
          - markImg
          - highRiskCount

env:
  API_USER_AGENT: ${{ secrets.API_USER_AGENT }}

jobs:
  deleteRedirect:
    if: |
      github.event.schedule == '35 16 * * *' ||
      github.event.inputs.task == 'deleteRedirect'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/mgp/deleteRedirect.js
  markImg:
    if: |
      github.event.schedule == '00 20 * * *' ||
      github.event.inputs.task == 'markImg'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
          CM_BOT: ${{ secrets.CM_BOT }}
        run: node src/mgp/markImg.js
  highRiskCount:
    if: |
      github.event.schedule == '00 20 * * 3' ||
      github.event.inputs.task == 'highRiskCount'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Node Version
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run Script
        env:
          ZH_BOT: ${{ secrets.ZH_BOT }}
        run: node src/mgp/highRiskCount.js
