name: "MGP daily"

on:
    schedule:
        - cron: "10 16 * * *" # 00:10 CST Everyday
        - cron: "10 16 * * *" # 00:10 CST Everyday
        - cron: "00 20 * * *" # 04:00 CST Everyday
        - cron: "00 19 * * 3" # 03:00 CST Wednesday
        - cron: "00 21 * * 5" # 05:00 CST Friday
        - cron: "00 18 * * *" # 02:00 CST Everyday
    workflow_dispatch:
        inputs:
            task:
                description: "选择任务"
                type: choice
                required: true
                options:
                    - deleteRedirect
                    - markImg
                    - highRiskCount
                    - deleteUnused
                    - disambigLinks
                    - correctNavFormat

env:
    API_USER_AGENT: ${{ secrets.API_USER_AGENT }}

jobs:
    deleteRedirect:
        if: |
            github.event.schedule == '10 0,4,8,13,16 * * *' ||
            github.event.inputs.task == 'deleteRedirect'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
                  CM_BOT: ${{ secrets.CM_BOT }}
              run: node src/mgp/deleteRedirect.js

    markImg:
        if: |
            github.event.schedule == '00 20 * * *' ||
            github.event.inputs.task == 'markImg'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
                  CM_BOT: ${{ secrets.CM_BOT }}
              run: node src/mgp/markImg.js

    highRiskCount:
        if: |
            github.event.schedule == '00 19 * * 3' ||
            github.event.inputs.task == 'highRiskCount'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
              run: node src/mgp/highRiskCount.js

    deleteUnused:
        if: |
            github.event.schedule == '00 21 * * 5' ||
            github.event.inputs.task == 'deleteUnused'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
                  CM_BOT: ${{ secrets.CM_BOT }}
              run: node src/mgp/deleteUnused.js

    disambigLinks:
        if: |
            github.event.schedule == '10 16 * * *' ||
            github.event.inputs.task == 'disambigLinks'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
              run: node src/mgp/disambigLinks.js

    correctNavFormat:
        if: |
            github.event.schedule == '00 18 * * *' ||
            github.event.inputs.task == 'correctNavFormat'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  ZH_BOT: ${{ secrets.ZH_BOT }}
              run: node src/mgp/correctNavFormat.js
