name: "VJP daily"

on:
    schedule:
        - cron: "35 16 * * *" # 00:35 CST
        - cron: "30 20 * * *" # 04:30 CST
    workflow_dispatch:
        inputs:
            task:
                description: "选择任务"
                type: choice
                required: true
                options:
                    - cleanSandbox
                    - invisibleCharacter
                    - activeCount
                    - mostTranscludedPages
                    - editCount
                    - archiveThread
                    - siteStatistics

env:
    API_USER_AGENT: ${{ secrets.API_USER_AGENT }}

jobs:
    cleanSandbox:
        if: |
            github.event.schedule == '30 20 * * *' ||
            github.event.inputs.task == 'cleanSandbox'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/cleanSandbox.js

    invisibleCharacter:
        if: |
            github.event.schedule == '35 16 * * *' ||
            github.event.inputs.task == 'invisibleCharacter'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/invisibleCharacter.js

    activeCount:
        if: |
            github.event.schedule == '30 20 * * *' ||
            github.event.inputs.task == 'activeCount'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/activeCount.js

    mostTranscludedPages:
        if: |
            github.event.schedule == '30 20 * * 2' ||
            github.event.inputs.task == 'mostTranscludedPages'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/mostTranscludedPages.js

    editCount:
        if: |
            github.event.schedule == '30 20 * * 2' ||
            github.event.inputs.task == 'editCount'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/editCount.js

    archiveThread:
        if: |
            github.event.schedule == '35 16 * * *' ||
            github.event.inputs.task == 'archiveThread'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/archiveThread.js

    siteStatistics:
        if: |
            github.event.schedule == '35 16 * * *' ||
            github.event.inputs.task == 'siteStatistics'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
            - name: Set Node Version
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  cache: pnpm
            - name: Install dependencies
              run: pnpm install --frozen-lockfile
            - name: Run Script
              env:
                  VJP_BOT: ${{ secrets.VJP_BOT }}
              run: node src/vjp/siteStatistics.js
